@import './../../../styles/variables';

.footer {
  background-color: $_color-Loblolly;
  justify-content: space-between;
  box-shadow: $footer-shadow;
  padding: $padding-base;

  &__branch {
    margin-right: $margin-base-horizontal;
    color: red;
  }
}
