@import './../../../styles/variables';
@import './../../../styles/colors';

.footer {
  background-color: $_color-Loblolly;
  box-shadow: $footer-shadow;
  justify-content: space-between;
  padding: $padding-base;
  &__branch{
    color: red;
  }
}
