@import './../../../styles/variables.scss';
@import './../../../styles/_colors.scss';

.header {
  justify-content: space-between;
  border-bottom: $border-base;
  padding: $padding-base;
  height: $header-height;
  align-items: center;
  &__logo {

  }
  &__controls {
    &__login,
    &__logout {
      padding: $padding-small;
    }
  }
}
