<form [formGroup]="editForm" (ngSubmit)="updateCourse( id, editForm.value)" *ngIf="editForm">
    <div class="add-new-form column">
        <app-generic-form-control [form]="editForm" type="title"></app-generic-form-control>
        <app-generic-form-control [form]="editForm" type="description"></app-generic-form-control>
        <app-generic-form-control [form]="editForm" type="date"></app-generic-form-control>
        <app-generic-form-control [form]="editForm" type="duration"></app-generic-form-control>
        <app-generic-form-control [form]="editForm" type="authors"></app-generic-form-control>
        <div class="add-new-form__buttons">
            <button class="btn" [ngClass]="{'disabled': !editForm.valid}" [disabled]="!editForm.valid">
                {{assets.update}}
            </button>
            <button class="btn" routerLink="/courses">{{assets.cancel}}</button>
        </div>
    </div>
</form>
