<div class="course-item column">
    <div class="course-item__main column">
        <div class="course-item__main__short row">
            <span>{{courseItem.name}}</span>
            <div class="course-item__main__short__duration-year">
                <span>{{courseItem.duration}}</span>
                <span>{{courseItem.date}}</span>
            </div>
        </div>
        <span class="course-item__main__short__description">{{courseItem.description}}</span>
    </div>

    <div class="course-item__buttons row">
        <span class="course-item__buttons__edit btn">{{buttonsNames.edit}}</span>
        <span class="course-item__buttons__del btn">{{buttonsNames.delete}}</span>
    </div>
</div>
