<div class="course-item column">
    <div class="course-item__main row">
        <div class="course-item__main__short row">
            <span>{{courseItem.name}}</span>
            <div>
                <span>{{courseItem.duration}}</span>
                <span>{{courseItem.date}}</span>
            </div>
        </div>
    </div>
    <span class="course-item__main__description">{{courseItem.description}}</span>
    <div class="course-item__buttons row">
        <span class="course-item__buttons__edit btn">{{buttonsNames.edit}}</span>
        <span class="course-item__buttons__del btn">{{buttonsNames.delete}}</span>
    </div>
</div>
