@import './../../../../styles/variables.scss';
@import './../../../../styles/_colors.scss';

.course-item {
  margin-bottom: $margin-base-vertical;
  justify-content: space-between;
  border: $border-base;
  &__main {
    &__short {
      justify-content: space-between;
      padding: $padding-small;
      width: 100%;
    }
    &__description {
      height: $description-height;
      padding: 0 $padding-small;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &__buttons {
    border-top: $border-base;
    &__edit,
    &__del {
      padding: $padding-small;
      width: 100%;
    }
    &__edit {
      border-right: $border-base;
    }
    &__edit:hover,
    &__del:hover {
      background-color: $_color-Gray;
      color: $_color-white;
      outline: none;
    }
  }
}
