@import './../../../../styles/variables.scss';
@import './../../../../styles/_colors.scss';
.course-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__left {
        width: 80%;
    }
    &__right {
        display: flex;
        flex-direction: column;
        width: 20%;
        &__btn {
            cursor: pointer;
            width: 100%;
            padding: $padding-small;
            text-align: center;
        }
        &__btn:hover {
            background-color: $_color-Gray;
            color: $_color-white;
            outline: none;
        }
    }
}