//names from http://chir.ag/projects/name-that-color/

/* private variables */;
$_color-Havelock-Blue:          #617BDB;
$_color-Duneapprox:             #2F2C28;
$_color-la-palma:               #18AA18;
$_color-Loblolly:               #B4B9C0;
$_color-black:                  #000000;
$_color-white:                  #FFFFFF;
$_color-Gray:                   #808080;
$_color-alto:                   #dcdcdc;
$_color-alizarin-crimson:       #E32636;
$_color-sunflower:              #E3C326;
$_color-lima:                   #48E326;

/*Other*/
$color-border:                  $_color-Gray;

