/* Padding */
$padding-small:                         .4rem !default;
$padding-base:                          .8rem !default;

/*Logo size*/
$logo_width:                            100px;
$logo_height:                           50px;

/*Margin*/
$margin-base-horizontal:                1.2rem !default;
$margin-base-vertical:                  2rem !default;

/*Fonts*/
$cell-font-size:                        smaller;
