<div [formGroup]="form" class="duration">
    <label for="durationId">{{duration}}:</label>
    <div class="duration__value">

        <div class="error"
             *ngIf="form.controls['duration'].hasError('required') && form.controls['duration'].touched">
            "Duration" {{errors.required}}
        </div>

        <input id="durationId" type="number" formControlName="duration"/>
        <span class="doubled-duration">{{form.controls['duration'].value | courseDuration: duration}}</span>
    </div>
</div>
