<div [formGroup]="form">
    <div class="add-new-page__authors column">
        <label for="authorsId">Authors:</label>
        <input id="authorsId" formControlName="authors"/>
    </div>
    <div *ngIf="authors" class="row authors">
        <div class="row author-item" *ngFor="let author of authors">
            <span>{{author.firstName}}</span>
            <span>{{author.lastName}}</span>
            <app-icon [className]="styles.icon" (click)="log()" [iconType]="cross"></app-icon>
        </div>
    </div>
</div>
