<div [formGroup]="form" class="column" *ngIf="type === 'title'">

    <label for="titleId">Title:</label>

    <div class="error"
         *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched">
        "Title" {{errors.required}}
    </div>

    <div class="error"
         *ngIf="form.controls['title'].hasError('maxlength') && form.controls['title'].touched">
        {{errors.maxNameLength}}
    </div>

    <div class="error"
         *ngIf="form.controls['title'].hasError('minlength') && form.controls['title'].touched">
        {{errors.minNameLength}}
    </div>

    <input id="titleId" formControlName="title"/>

</div>

<div [formGroup]="form" class="add-new-page__description column" *ngIf="type === 'description'">
    <label for="descriptionId">Description:</label>
    <div class="error"
         *ngIf="form.controls['description'].hasError('maxlength')
  && form.controls['description'].touched">
        {{errors.maxDescriptionLength}}
    </div>

    <div class="error"
         *ngIf="form.controls['description'].hasError('required') && form.controls['description'].touched">
        "Description" {{errors.required}}
    </div>

    <textarea id="descriptionId" formControlName="description" rows="5" wrap="soft"></textarea>
</div>

<div [formGroup]="form" class="date" *ngIf="type === 'date'">
    <div class="add-new-page__date column">
        <label for="dateId">Date:</label>

        <div class="error"
             *ngIf="form.controls['date'].hasError('required') && form.controls['date'].touched">
            "Date" {{errors.required}}
        </div>

        <input id="dateId" type="date" max="2199-12-31" formControlName="date"/>
    </div>
</div>

<div [formGroup]="form" class="duration" *ngIf="type === 'duration'">
    <label for="durationId">Duration:</label>
    <div class="duration__value">
        <input id="durationId" type="number" formControlName="duration"/>
        <span class="doubled-duration">{{form.controls['duration'].value | courseDuration: duration}}</span>
    </div>
</div>

<div [formGroup]="form" *ngIf="type === 'authors'">
    <div class="add-new-page__authors column">
        <label for="authorsId">Authors:</label>
        <input id="authorsId"/>
    </div>
</div>
