<div class="login column">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="login__header">{{assets.login}}</div>
        <div class="login__error" *ngIf="wrongCredentials">Wrong credentials, try again</div>
        <div class="login__user-name column">
            <label for="login">{{assets.login}}</label>
            <input [ngClass]="{'wrong-cred': wrongCredentials}"
                   placeholder={{assets.loginPlaceHolder}}
                   formControlName="login"
                   id="login">
        </div>
        <div class="login__user-pass column">
            <label for="pass">{{assets.pass}}</label>
            <input [ngClass]="{'wrong-cred': wrongCredentials}"
                   placeholder={{assets.passPlaceHolder}}
                   formControlName="password"
                   type="password"
                   id="pass">
        </div>
        <button type="submit" class="login__submit btn"
                [ngClass]="{'disabled': !loginForm.valid}">{{assets.login}}</button>
    </form>
</div>
