@import './styles/variables.scss';
@import './styles/_colors.scss';

body {
  padding: $padding-base;
  margin: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

.column {
  flex-direction: column;
  display: flex;
}

.row {
  flex-direction: row;
  display: flex;
}

.btn {
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: $_color-Gray;
  color: $_color-white;
  outline: none;
}

.disabled {
  border: none !important;
  pointer-events: none;
  color: $_color-Gray;
}
