@import './styles/variables.scss';
@import './styles/_colors.scss';

body {
  padding: $padding-base;
  margin: 0;
}

@media (min-width: 1000px) {
  body {
    max-width: 1000px;
  }
  html {
    justify-content: space-around;
    flex-direction: row;
    display: flex;
  }
}

* {
  box-sizing: border-box;
  outline: none;
}

.column {
  flex-direction: column;
  display: flex;
}

.row {
  flex-direction: row;
  display: flex;
}

.btn {
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: $_color-Gray;
  color: $_color-white;
  outline: none;
  .icon {
    color: $_color-white;
  }
}

.disabled {
  border: none !important;
  pointer-events: none;
  color: $_color-Gray;
}

.icon {
  color: $_color-Gray;
}
