<div [formGroup]="form" class="add-new-page__description column">
  <label for="descriptionId">Description:</label>

  <div class="error"
       *ngIf="form.controls['description'].hasError('maxlength')
  && form.controls['description'].touched">
    {{errors.maxDescriptionLength}}
  </div>

  <div class="error"
       *ngIf="form.controls['description'].hasError('required') && form.controls['description'].touched">
    "Description" {{errors.required}}
  </div>

  <textarea id="descriptionId" formControlName="description" rows="5" wrap="soft"></textarea>
</div>
